*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
}

.container{
    max-width: 1000px;
    /* border: 1px solid #ccc; */
    margin: 0 auto;
    padding: 0 20px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
header i{
    /* display: none; */
    visibility: hidden;
}
header h1{
    font-size: 24px;
    font-weight: 600;
    color: #06C167;
}

header ul{
    list-style: none;
    display: flex;
    gap: 20px;
    list-style: none;
}

header ul li{
    display: inline-block;
    cursor: pointer;
}

header ul li a{
    text-decoration: none;
    color: rgba(29, 29, 31, 1);
    font-weight: 600;
    font-size: 16px;
}

header ul li a:hover{
    color: #06C167;
}

/* Hero Section start */
.hero-section{
    display: flex;
    gap: 04em;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0;
}

.hero-content h1{
    font-size: 70px;
    line-height: 100%;
    letter-spacing: 0%;
}
.hero-image-rating{
    position: relative;
    right: 31em;
}
.hero-image-rating img{
    width: 180px;
    height: auto;
}
.hero-image-product-quality{
    position: relative;
    bottom: 05rem;
    right: 28em;
}
.hero-image-product-quality img{
    width: 180px;
    height: auto;
}
.banner-log{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    gap: 25px;
    
}

.banner-log img{
    width: 153px;
    height: auto;
}

.hero-btn{
    margin-top: 40px;
    padding: 15px 30px;
    background-color: #06C167;
    color: #fff;
    border: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.hero-secondary-dot-image{
    position: relative;
    top: 12em;
    right: 41em;
}
.hero-secondary-dot-image img{
    width: 120px;
    height: auto;
}
/* Hero Section end */

/* Features Section start */
.features-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 60px;
}

.free-shipping, .quick-payment, .special-promo, .support{
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.icon-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-text p{
    font-size: 12px;
}
/* Features Section End */

/* Cart-Section start */
.cart-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 60px;
}

.tik-mark{
    display: flex;
    align-items: center;
    gap: 20px;
    line-height: 30px;
    font-size: 14px;
}

.cart-content >p{
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 30px;
}

.cart-content >h1{
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 30px;
}
/* Cart-Section End */

/* Cart-Star-section Start */
.cart-star{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.cart-star-content h1{
    font-weight: 500;
    font-size: 38px;
    line-height: 50px;
}

.star-value-section{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.star-value-section h1{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #06C167;
}

.cart-star-content >p{
    font-size: 13px;
    margin-bottom: 10px;
}

.star-value p{
    font-size: 12px;
}
/* Cart-Star-section End */

/* variety-Features-section start */
.variety-features{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em 0;
}
.variety-features > p{
    font-size: 13px;
    margin-bottom: 20px;
}

.variety-features h1{
    font-weight: 500;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 40px;
}

.variety-cart-01{
    display: flex;
    flex: 1;
    align-items: center;
    border: 1px solid #06C167;
}
.variety-cart-02{
    display: flex;
    flex: 1;
    align-items: center;
    border: 1px solid #06C167;
}
.variety-cart-01 img, .variety-cart-02 img{
    display: flex;
    flex: 1;
    width: 220px;
    height: auto;
}

.variety-cart-text{
    flex: 1;
    width: 220px;
    height: auto;
    padding: 0 18px;
}

.variety-cart-text h4{
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
}

.variety-cart-text p{
    font-size: 13px;
    margin: 20px 0;
}

.btn{
    display: flex;
    position: relative;
    cursor: pointer;
}   

.btn button{
    padding: 05px 18px;
    background-color: rgba(230, 249, 240, 1);
    color: #06C167;
    border: none;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    padding-right: 30px;
}
.btn i{
    position: absolute;
    margin-top: 15px;
    margin-left: 105px;
}
/* variety-Features-section End */

/* Popular-product-section start */
.popular-porduct-section{
    margin-top: 07em;
}
.most-popular-product-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    gap: 20px;
}
.popular-product-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 15px;
    line-height: 30px;
}

.popular-product-cost{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.popular-product-cost span{
    color: #06C167;
    font-size: 15px;
    font-weight: 500;
}
.popular-product-cost p{
    color: rgb(181, 181, 181);
    font-size: 15px;
    font-weight: 500;
    text-decoration: line-through;
}

.popular-porduct-section h2{
    margin: 10px 0 30px 0;
    font-size: 40px;
    font-weight: 500;
}

.popular-product-btn{
    display: flex;
    position: relative;
    cursor: pointer;
}
.popular-product-btn button{
    padding: 07px 20px;
    background-color: rgba(230, 249, 240, 1);
    color: #06C167;
    border: 1px solid #06C167;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    padding-right: 30px;
}

.popular-product-btn i{
    position: absolute;
    margin-top: 16px;
    margin-left: 77px;
}
/* Popular-product-section end */

/* Veggi-food-ingredients Section start */
.veggi-food-ingredients-section{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    color: #fff;
    background-image: url(./img/Veggi-Foods.png);
    margin-bottom: 60px;
}
/* Veggi-food-ingredients Section End */

/* Footer-Section Start */
.footer-content-section{
    display: flex;
    line-height: 25px;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 40px;
}

.footer-section{
    padding: 40px 10px;
}

.footer-reserved-by p{
    text-align: center;
    font-size: 13px;
}
.footer-content-1{
    flex: 2;
    flex-direction: column;
}
.footer-content-2{
    flex: 1;
    flex-direction: column;
}
.footer-content-3{
    flex: 1;
    flex-direction: column;
}
.footer-content-4{
    flex: 2;
    flex-direction: column;
}

.footer-content-1 h3, .footer-content-2 h3, .footer-content-3 h3, .footer-content-4 h3{
    margin-bottom: 20px; 
    font-size: 20px;
    font-weight: 600; 
}  
.footer-content-1 h3{
    color: #06C167;
}
.log-footer{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.footer-content-2 ul, .footer-content-3 ul{
    list-style: none;
}
.footer-content-2 a, .footer-content-3 a{
    text-decoration: none;
    font-size: 13px;
}
.footer-content-1 p{
    font-size: 13px;
    padding: 14px 0;
}
.footer-content-4 button{
    padding: 10px 20px;
    background-color: #06C167;
    color: #fff;
    border: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
}
.footer-content-4 p{
    font-size: 13px;
    margin-bottom: -15px;
}

.footer-content-4 input{
    border: none;
    outline: none;
    background-color: lightgray;
    color:black;
    padding: 10px 0 10px 10px;
}
/* Footer-Section End */

/* Responsive Design for Mobile First Approach start */
@media (max-width: 690px){
    nav{
        display: none;
    }

    header i{
    visibility: visible;
    cursor: pointer;
    }
    .banner-log{
        display: block;
        margin: 2em auto;
    }
    .hero-section{
        flex-direction: column;
        text-align: center;
        gap: 30px;
        margin-bottom: -16em;
    }
    .hero-image-rating{
        position: relative;
        right: 0;
        bottom: 09em;
    }
    .hero-image-product-quality{
        position: relative;
        bottom: 10em;
        right: 0;
    }
    .hero-content h1{
        font-size: 40px;
    }
    .hero-secondary-dot-image{
    position: relative;
    top: -20em;
    left: 9em;
    }
    .star-btn{
        text-align: center;
    }
    .features-section{
        flex-direction: column;
        gap: 30px;
    }
    .cart-section{
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .cart-star{
        flex-direction: column;
        gap: 30px;
    }
    .star-value-section{
        flex-direction: column;
        gap: 20px;
    }
    .star-value p{
        text-align: center;
        font-size: 1rem;
    }
    .star-value h1{
        text-align: center;
        font-size: 2rem;
    }
    .variety-features-cart{
        width: 110vh;  
           
    }

    .variety-cart-01, .variety-cart-02{
        flex-direction: column;
        border: none;  
        gap: 30px;
    }
    .variety-cart-01 img, .variety-cart-02 img{
        width: 300px;
    }
    .most-popular-product-cart{
        flex-direction: column;
    }
    .popular-product-item{
        width: 80%;
    }
    .footer-content-section{
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
    .footer-content-1{
        display: flex;
        align-items: center;
    }
    .footer-mail-part{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

}

/* Responsive Design for Mobile First Approach end */