*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
}

.container{
    max-width: 1000px;
    border: 1px solid #ccc;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header h1{
    font-size: 24px;
    font-weight: 600;
    color: #06C167;
}

header ul{
    list-style: none;
    display: flex;
    gap: 20px;
    list-style: none;
}

header ul li{
    display: inline-block;
    cursor: pointer;
}

header ul li a{
    text-decoration: none;
    color: rgba(29, 29, 31, 1);
    font-weight: 600;
    font-size: 14px;
}

header ul li a:hover{
    color: #06C167;
}

/* Hero Section start */
.hero-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0;
}

.hero-content h1{
    font-size: 70px;
    line-height: 100%;
    letter-spacing: 0%;
}

.banner-log{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    gap: 25px;
    
}

.banner-log img{
    width: 153px;
    height: auto;
    /* margin-left: 25px; */
}

.hero-btn{
    margin-top: 40px;
    padding: 15px 30px;
    background-color: #06C167;
    color: #fff;
    border: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
/* Hero Section end */

/* Features Section start */
.features-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 60px;
}

.free-shipping, .quick-payment, .special-promo, .support{
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.icon-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-text p{
    font-size: 12px;
}
/* Features Section End */

/* Cart-Section start */
.cart-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 60px;
}

.tik-mark{
    display: flex;
    align-items: center;
    gap: 20px;
    line-height: 30px;
    font-size: 14px;
}

.cart-content >p{
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 30px;
}

.cart-content >h1{
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 30px;
}
/* Cart-Section End */

/* Cart-Star-section Start */
.cart-star{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.cart-star-content h1{
    font-weight: 500;
    font-size: 38px;
    line-height: 50px;
}

.star-value-section{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.star-value-section h1{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #06C167;
}

.cart-star-content >p{
    font-size: 13px;
    margin-bottom: 10px;
}

.star-value p{
    font-size: 12px;
}
/* Cart-Star-section End */

/* variety-Features-section start */
.variety-features{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em 0;
}
.variety-features > p{
    font-size: 13px;
    margin-bottom: 20px;
}

.variety-features h1{
    font-weight: 500;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 40px;
}

.variety-features-cart{
    /* border: 1px solid #06C167; */
}
.variety-cart-01{
    display: flex;
    flex: 1;
    align-items: center;
    border: 1px solid #06C167;
}
.variety-cart-02{
    display: flex;
    flex: 1;
    align-items: center;
    border: 1px solid #06C167;
}
.variety-cart-01 img, .variety-cart-02 img{
    display: flex;
    flex: 1;
    width: 220px;
    height: auto;
}

.variety-cart-text{
    flex: 1;
    width: 220px;
    height: auto;
    padding: 0 18px;
}

.variety-cart-text h4{
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
}

.variety-cart-text p{
    font-size: 13px;
    margin: 20px 0;
}

.variety-cart-text button{
    padding: 10px 0;
    background-color: transparent;
    color: #06C167;
    border: none;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}
/* variety-Features-section End */